// Specific CSS for your home-page

.home-bg {
  background-color :#FBF7F0;
}

.flexbox {
  display: flex;
  justify-content: space-between;
}

#garage-img{
  flex-grow: 1;
  width: 80%;
  padding: 10px;
  shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.container {
  padding:10px;
}

.navbar-parent {
  justify-content: space-between;
  display:flex;
}

