// Specific CSS for your home-page

.home-bg {
  background-color: #FBF7F0;
}

.flexbox {
  display: flex;
  justify-content: space-between;
}

#garage-img{
  flex-grow: 1;
  width: 80%;
  padding: 10px;
  shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  object-fit: cover;
}

.container {
  padding:10px;
}

.navbar-parent {
  justify-content: space-between;
  display:flex;
}

div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}
.testimony-picture {
    width: 155px;
    height: 150px;
}
.caption {
    display: block;
}

.home-pad {
  padding-top: 7px;
  padding-bottom: 7px;
  a {
    padding-top: 7px;
    padding-bottom: 7px;
  }
}

h6.home-pad {
  padding:30px
}

#community-text {
 text-align: justify;
  text-justify: inter-word;
  padding:20px;
}

.community-title {
   text-align: justify;
  text-justify: inter-word;
  padding:20px;
text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
font-weight:bold;
}

h5.community-content {
    font-size: 23px;
    margin-bottom: 82px;
    font-weight:light;
    font-family:'montserrat';
     line-height: 1.6
}


