// Specific CSS for your home-page

.home-bg {
  background-image : url('https://images.unsplash.com/photo-1516541196182-6bdb0516ed27?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8d2hpdGV8ZW58MHx8MHw%3D&auto=format&fit=crop&w=800&q=60');
  background-size: cover;
}

.flexbox {
  display: flex;
  justify-content: space-between;
}

#garage-img{
  flex-grow: 1;
  width: 80%;
  padding: 10px;

}

.container {
  padding:10px;
}

h2 .card{
  font-size:12px
}

.content-card {
  font-family: fantasy;
}

