<!--  <div class="card card-border">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <img id ="garage-img" src="https://images.unsplash.com/reserve/oIpwxeeSPy1cnwYpqJ1w_Dufer%20Collateral%20test.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1516&q=80">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pt-3">
      <h2 class ="content-card"> What you don't use can make you money</h2>
      <h4 class = content-card> Discover how </h4>
      <%= link_to 'Add item', new_item_path, class:"btn btn-primary btn-smartneb" %>
    </div>
  </div>
</div>

 -->
 <div class="card card-border">
  <div class="row">
    <div class="col-5">
      <img id ="garage-img" src="https://images.unsplash.com/reserve/oIpwxeeSPy1cnwYpqJ1w_Dufer%20Collateral%20test.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1516&q=80">
    </div>
    <div class="col-7 pt-4">
      <h2 class ="content-card"> With us learn how to transform your <b>mess into money </b> </h2>
      <h4 class = content-card> <center> We all have items that we have bought and no longer use. In the age of the circular economy it is time to change the system of consumption.</h4>
      <center> <%= link_to 'Start earning money', new_item_path, class:"btn btn-smartneb" %></center>
    </div>
  </div>
</div>
