
 <div class="card card-border">
  <div class="row">
    <div class="col-5">
      <img id ="garage-img" src="https://images.unsplash.com/reserve/oIpwxeeSPy1cnwYpqJ1w_Dufer%20Collateral%20test.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1516&q=80">
    </div>
    <div class="col-7">
      <h2 class ="content-card home-pad"> With us learn how to transform your <b>mess into money </b> </h2>
      <h4 class ="content-card"> <center class=home-pad> We all have items that we have bought and no longer use. In the age of the circular economy it is time to change the system of consumption.</h4>
     <center class="home-pad"> <%= link_to 'Start earning money', new_item_path, class:"btn btn-smartneb home-pad" %></center>
    </div>
  </div>
</div>
