 <div class="card">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <img id ="garage-img" src="https://img.static-rmg.be/a/view/q75/w/h/2411961/garage-jpg.jpg">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pt-3">
      <h2 class ="content-card"> What you don't use can make you money</h2>
      <h4> Discover how </h4>
      <%= link_to 'Add item', new_item_path, class:"btn btn-primary btn-new" %>
    </div>
  </div>
</div>
