<div class="container">
  <div class="card card-border">
    <div class="row">
      <div class="col-6 mt-3">
        <h6 class="community-title home-pad">The SmartNeighbour community </h6>
        <h5 class="community-content home-pad">is growing every day to expand its services. Find out what your neighbours can lend you.</h5>
        <%= link_to 'Discover objects nearby' , '/items', class: 'btn btn-smartneb home-pad' %>
      </div>
      <div class="col-6">
        <div class="mb-6" id="map"
             style="width: 100%; height: 400px;"
             data-markers="<%= @markers.to_json %>"
             data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
</div>

