<div class="container">
  <div class="card card-border">
    <div class="row">
      <div class="col-6">
        <h6 class="home-pad">The SmartNeighbour community is growing every day to expand its services. Find out what your neighbours can lend you.</h6>
       <center><%= link_to 'discover objects nearby' , '/items', class: 'btn btn-smartneb' %></center>
     </div>
     <div class="col-5">
      <div class="mb-6 mapboxgl-map" id="map" style="width: 100%; height: 400px;" data-markers="[{&quot;lat&quot;:51.3469085,&quot;lng&quot;:3.2885364,&quot;infoWindow&quot;:&quot;\n\u003cdiv class=\&quot;\&quot;\u003e\n  \u003ca style=\&quot;text-decoration: none;\&quot; href=\&quot;/items/1\&quot;\u003e\n    \u003ch4\u003eBedside table\u003c/h4\u003e\n    \u003cdiv style=\&quot;font-size: 18px;\&quot;\u003e\n      \u003cp\u003e\u003ci class=\&quot;far fa-map\&quot;\u003e\u003c/i\u003e North Joleen\u003c/p\u003e\n      \u003cp\u003e€67\u003c/p\u003e\n    \u003c/div\u003e\n\u003c/a\u003e\u003c/div\u003e\n\n&quot;}]" data-mapbox-api-key=""><div class="mapboxgl-canary" style="visibility: hidden;"></div><div class="mapboxgl-canvas-container mapboxgl-interactive mapboxgl-touch-drag-pan mapboxgl-touch-zoom-rotate"><canvas class="mapboxgl-canvas" tabindex="0" aria-label="Map" role="region" width="2464" height="880" style="width: 1120px; height: 400px;"></canvas></div><div class="mapboxgl-control-container"><div class="mapboxgl-ctrl-top-left"></div><div class="mapboxgl-ctrl-top-right"></div><div class="mapboxgl-ctrl-bottom-left"></div><div class="mapboxgl-ctrl-bottom-right"></div></div></div>
    </div>
  </div>
</div>
</div>
</div>
