<footer class="footer-distributed">
         <div class="footer-left">
            <%= image_tag "logo_transparent.png", alt: "SmartNeighbour", size:"138x57"%>
            <p class="footer-links">
               <a href="/">Home</a>
               <a href="#">Press</a>
               <a href="#">Lend</a>
               <a href="/items">Borrow</a>
               <a href="/items/new">Faq</a>
               <a href="mailto:support@smartneighbour.com?body=I%20want%20to%20give%20you%201000%20%E2%82%AC">Contact</a>
            </p>
            <p class="footer-company-name">SmartNeighbour &copy; 2020</p>
         </div>
         <div class="footer-center">
            <div>
               <i class="fa fa-map-marker"></i>
               <p><span>Amsterdam</span> Holland </p>
            </div>
            <div>
               <i class="fa fa-phone"></i>
               <p>+3162191166</p>
            </div>
            <div>
               <i class="fa fa-envelope"></i>
               <p><a href="mailto:support@smartneighbour.com?body=I%20want%20to%20give%20you%201000%20%E2%82%AC">support@smartneighbour.com</a></p>
            </div>
         </div>
         <div class="footer-right">
            <p class="footer-company-about">
               <span>About the company</span>
               SmartLearn a startup launched by 4 students in Amsterdam. The aim is to make you believe that you are participating in a good deed and at the same time allow us to buy a Porsche.
            </p>
            <div class="footer-icons">
               <a href="#"><i class="fab fa-facebook"></i></a>
               <a href="#"><i class="fab fa-twitter"></i></a>
               <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
         </div>
      </footer>
