
<div class="">
  <%= link_to item_path(item), style: 'text-decoration: none;' do%>
    <h4><%= item.name.capitalize %></h4>
    <div style="font-size: 18px;">
      <p><i class="far fa-map"></i> <%= item.location %></p>
      <p>€<%= item.price %></p>
    </div>
  <% end %>
</div>

