<div class="mapboxgl-popup mapboxgl-popup-content">
  <h3><%= item.name %></h3>
  <div class="d-flex justify-content-between">
  <p><%= item.location %></p>
  <p>€<%= item.price %></p>
  <div class="d-flex justify-content-between">
</div>

