.banner {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 103px 10px;
  height: 80vh;
}

.banner h1 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-title {
  width: 400px;
  margin-bottom: 30px;
}
.banner-content {
  margin: 150px;
  width: 800px;
}

.flexbox .banner {
  flex-direction: row;

}

#banner-typed-text {
  font-size: 32px;
}

.typed-text {
  position: absolute;
  top: 390px;
  right: 800px;

}

#slogan {
      text-shadow: 1px 1px gray
}
