.action-button {

  background-color: #a8dda8;
  color: white;
  padding: 8px 24px;
  border: none;
  border-radius: 25px;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  &:focus {
      border:none;
      outline:none;
    }
}

#home-page-btn {
  position: absolute;
  margin-left: 527px;
  height: 3.5rem;
  border-radius: 50px;
}


.action-button:hover {
  opacity:1;
  box-shadow: 1px 1px #888888;
  font-weight: bold;
}

.btn-login:hover {
  opacity: 1;
}


.accept-btn {
  position: absolute;
  right: 55px;
  top: 10px;
  width: 40px;
  transition: all .2s ease-in-out;
  a {
    color: green;
    font-size: 30px;
  }
}

.accept-btn:hover {
  transform: scale(1.2);
}

.decline-btn {
  position: absolute;
  right: 15px;
  top: 10px;
  width: 40px;
  transition: all .2s ease-in-out;
  a {
    color: red;
    font-size: 30px;
  }
}

.decline-btn:hover {
  transform: scale(1.2);
}

.confirmed-btn {
  position: absolute;
  right: 15px;
  top: 10px;
  width: 120px;
  color: white;
  text-align: center;
  padding: 8px 8px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#1DA107, #177D05);
  transition: background 0.3s ease;
  h1 {
    font-size: 15px
  }
}

.btn-smartneb {
  background-color:#BFDBA6;
  font-color:white;
}


.btn:hover {
  opacity:1;
  box-shadow: 2px 2px #888888;
  font-weight: bold;
}

#relative {
  position: relative!important;
}

.delete-btn {
  position: absolute;
  right: 10px;
  bottom: 3px;
  width: 40px;
  transition: all .2s ease-in-out;
  a {
    color: grey;
    font-size: 20px;
  }
}

.edit-btn {
  position: absolute;
  right: 61px;
  bottom: 7px;
  width: 40px;
  transition: all .2s ease-in-out;
  span {
    font-size: 12px;
  }
}



