.card-item {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0.06,0.06,0.06,0.06);
  width: 30%;
  margin: 10px;
  border-radius: 10px;
}

.card-item img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-item h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-item h1 {
  font-size: 14px;
  font-weight: bold;
  opacity: .8;
  margin: 0;
}

.card-item .card-item-infos {
  padding: 1px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-item.card-dashboard {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

 // <img src="URL" class="card-item.card-dashboard" />

.card-booking {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0.06,0.06,0.06,0.06);
  width: 30vw;
  margin: 10px;
  border-radius: 10px;
  position: relative;
}

.card-booking img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-booking h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.card-booking h3 {
  font-size: 16px;
  margin: 0;
}

.card-booking h1 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}


.card {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background-color: rgba(0, 0, 0, 0.09);
}

.card-booking .card-booking-infos {
  padding: 1px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

