h1 {
  font-family: 'Montserrat', sans-serif;
}


h2 {
   font-family: 'Montserrat', sans-serif;
}


h3 {
   font-family: 'Montserrat', sans-serif;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-family: 10px;
}

h4.content-card {
  font-size:16px;
}

h5 {
  font-size:13px;
  font-color: #9c9c9c;
}

h6 {
  font-size: 27px;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}
