h1 {
  font-family: 'Montserrat', sans-serif;
}


h2 {
   font-family: 'Montserrat', sans-serif;
}


h3 {
   font-family: 'Montserrat', sans-serif;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-family: 10px;
}

h4.content-card {
  font-size:16px
}

p {
  font-family: 'Montserrat', sans-serif;
}
