.navbar-smartneb {
  justify-content: space-between;
  background: white;
box-shadow: 0 2px 2px -2px rgba(0,0,0,.9);
}

.navbar-smartneb  .navbar-collapse {
  flex-grow: 0;
}

.navbar-smartneb  .navbar-brand {
  width: 13%;
}


