.navbar-smartneb {
  justify-content: space-between;
  background :#33383b;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.9);
  border-top: 3px solid #BFDBA6;
  align-item:left;
  font-size:18px;
  padding:2px;
}

.navbar-smartneb  .navbar-collapse {
  flex-grow: 0;
}

.fas, .far{
  color:#C0C0C0;
}

.nav-link:hover {
  border-bottom: 3px solid red;
}

.navbar{
  font-color:white;
}

.navbar-left {
  display:flex;
  font-size:18px;
  margin-left:2px;
  font-color:white;
}

a.dropdown-item {
  font-size:18px;
  text-align:center;
margin:0px 0px;

}

#navbarDropdown {
   font-color:white;
}

#navbarSupportedContent {
  font-color:white;
}


a.nav-link{
  color:white;
}
.nav-link {
  color:white;
font-family: 'Lato', sans-serif;
font-weight:100px;
}
